Temp/
obj/
Library/
 
Library/
 
Assembly-CSharp-Editor-firstpass-vs.csproj
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-Editor-firstpass.pidb
Assembly-CSharp-Editor-firstpass.pidb.meta
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor.pidb
Assembly-CSharp-Editor.pidb.meta
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-firstpass.pidb
Assembly-CSharp-firstpass.pidb.meta
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
Assembly-CSharp.pidb
Assembly-CSharp.pidb.meta
Assembly-UnityScript-Editor-firstpass-vs.unityproj
Assembly-UnityScript-Editor-firstpass.pidb
Assembly-UnityScript-Editor-firstpass.pidb.meta
Assembly-UnityScript-Editor-firstpass.unityproj
Assembly-UnityScript-Editor-vs.unityproj
Assembly-UnityScript-Editor.pidb
Assembly-UnityScript-Editor.pidb.meta
Assembly-UnityScript-Editor.unityproj
Assembly-UnityScript-firstpass-vs.unityproj
Assembly-UnityScript-firstpass.pidb
Assembly-UnityScript-firstpass.pidb.meta
Assembly-UnityScript-firstpass.unityproj
Assembly-UnityScript-vs.unityproj
Assembly-UnityScript.pidb
Assembly-UnityScript.pidb.meta
Assembly-UnityScript.unityProj
 
!Library/*.asset
!Library/AssetImportState
!Library/AssetVersioning.db
!Library/BuildPlayer.prefs
!Library/ScriptMapper
!Library/assetservercachev3
!Library/expandedItems
!Library/guidmapper
!Library/unity default resources
!Library/unity editor resources

Models/bin
Models/obj
!Models/Models.sln
!Models/Models.csproj

*.svd
*.userprefs
*.suo
*.sln
*.csproj
*.apk
*.unityproj
*.dll.mdb
GlassFitUnity.zip

Doxygen/
.sonar/
